:root {
   /* fuentes */
   --fontPrimary: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   --fsSmall: 14px;
   --fsNormal: 16px;
   --fsHeadline: 20px;
   --fsBig: 24px;
   /* colores */
   --colorPrimary: #D9A867;
   --colorSecondary: #343434;
   --color-blue-title: #0E2E50;
   --color-green-title: #00B98E;
   --color-black-pearl-700: #3C5562;
   --bgColor: #fff;
   --colorSimilar: #DFBC8E;
   /* componentes */
   --navHeight: 100px;
   --containerMaxWidth: 992px;
   --logoHeight: 100px;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: var(--fontPrimary);
}

main.container{
   width: 100%;
   max-width: var(--containerMaxWidth);
   min-height: 100vh;
   padding-top: var(--navHeight);
   margin: 0 auto;
}