:root {
   /* fuentes */
   --fontPrimary: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   --fsNormal: 16px;
   --fsSmall: 14px;
   --fsHeadline: 20px;
   --fsBig: 24px;
   /* colores */
   --colorPrimary: #D9A867;
   --colorSecondary: #343434;
   --bgColor: #fff;
   --colorSimilar: #DFBC8E;
   /* componentes */
   --navHeightt: 100px;
   --containerMaxWidth: 992px;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: var(--fontPrimary);
}